@{
  ViewBag.Title = "About";
}
<style>
  .navbar-nav {
    background-color: black;
  }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
