<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IraNye Bug Tracker</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
